@import '~bootstrap/scss/bootstrap';
body {
  font-family: 'EB Garamond', serif;
  background-color: #b5caff;
}

.center {
  width: 50vh;
justify-content: center;
  margin: 0 auto;
  top: 10vh;
  text-align: left;
  overflow-wrap: normal;
  font-size: 20px;

}
.itemIndex {
 display: inline-block;
 overflow: scroll;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
}

img {
  height: 30vh;
  width: 33vh;
  border-radius: 8px;
  padding: 2px;
}

label {
  font-size: 17px;
  font-weight: bold;
}

input {
  display: flex;
  width: 40vh;
}

textarea {
  width: 40vh;
  height: 30vh;
  overflow-wrap: normal;
overflow: scroll;
}

.formable {
  top: 20vh;

  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  flex-direction: column;
}

.gameboy {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
}

.gameboy2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 11px;
}
.gameboy3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 26px;
  margin-top: 4vh;
}

.icon {
height: 11vh;
width: 11vh;
border-radius: 8px;
padding: 2px;
bottom: 0;
right: 0;
position: fixed;
}
//  Links and href -----
.links {
  font-size: 13px;
  font-style: italic;
}

a {
  color: #302dfd;
  &:hover {
    color: #22c38e;
  }
}
//      BUTTONS   ------
.btn-gradient {
text-decoration: none;
background-color: #302dfd;
&:hover {
  color: #afc4ff; }
padding: 10px 30px;
display: inline-block;
position: relative;
border: 1px solid rgba(0,0,0,0.21);
border-bottom: 4px solid rgba(0,0,0,0.21);
border-radius: 4px;
text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
